---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import SideBar from '../components/SideBar.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const {
    image,
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    includeSidebar = true,
    sideBarActiveItemID,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="lofi">
    <head>
        <BaseHead title={title} description={description} image={image} />
    </head>
    <body class="min-h-screen flex flex-col">
        <div class="flex-grow flex">
            <div class="md:flex hidden">
                {
                    includeSidebar && (
                        <SideBar sideBarActiveItemID={sideBarActiveItemID} />
                    )
                }
            </div>
            <div class="md:hidden text-nord-primary">
                <input type="checkbox" id="sidebar-toggle" class="hidden" />
                <label
                    for="sidebar-toggle"
                    class="sidebar-toggle-label text-xl p-3 cursor-pointer"
                >
                    &#9776;
                </label>
                <div class="sidebar-overlay">
                    <SideBar sideBarActiveItemID={sideBarActiveItemID} />
                </div>
            </div>
            <div class="flex-1 bg-nord-background">
                <div
                    class="flex flex-col items-center min-h-screen text-nord-primary"
                >
                    <main
                        class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw] flex-grow"
                    >
                        <slot />
                    </main>
                    <Footer />
                </div>
            </div>
        </div>
    </body><style>
        /* Estilos para el sidebar y el sidebar-overlay */
        .sidebar-overlay {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
        }

        .sidebar-toggle-label {
            position: fixed;
            top: 5px;
            left: 5px;
            z-index: 1000;
        }

        #sidebar-toggle:checked + .sidebar-toggle-label + .sidebar-overlay {
            display: flex;
        }
    </style>
</html>
